/*
Theme Name: Xello Theme
Theme URI: 
Author: Fabricio Biron
Author URI: https://wordpress.org/
Description: 
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/
.jumbotron {
  background: none;
  margin-bottom: 0px; }

a {
  color: none; }

.hat {
  text-transform: uppercase;
  font-size: 0.9em; }

.title {
  font-size: 2.7em; }

a {
  color: #027baf !important; }

.btn-primary {
  background: #027baf; }

h1, h2, h3, h4, h5, h6, p, cite {
  color: #484848;
  font-weight: 400; }

.navigation-section {
  background: #000; }
  .navigation-section > * {
    color: white; }
  .navigation-section .navbar-nav {
    width: 100%;
    display: flex;
    justify-content: center; }
  .navigation-section a {
    color: white !important; }

.jumbotron-section {
  background: #027baf;
  max-height: 482px; }
  .jumbotron-section .lettering {
    padding-top: 71px; }
    .jumbotron-section .lettering > * {
      color: #fff; }
  .jumbotron-section .title {
    font-size: 3.5em;
    font-weight: 600; }

.content-section-1 {
  background: #fafafa;
  border: 1px solid #e1e1e1; }
  .content-section-1 .wrapper {
    padding: 77px; }

.content-section-2 .wrapper {
  padding-top: 82px; }
.content-section-2 .lettering {
  padding-top: 46px;
  padding-left: 63px; }

.content-section-3 .wrapper {
  padding-top: 82px;
  padding-bottom: 82px; }

.highlighted-quote-section .wrapper {
  padding: 82px 0;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1; }
.highlighted-quote-section .logo {
  display: flex;
  justify-content: center;
  padding-bottom: 30px; }
.highlighted-quote-section cite {
  font-size: 40px;
  font-style: normal;
  padding: 0 100px; }

.content-3columns-section .wrapper {
  padding: 100px 0; }
.content-3columns-section .col:nth-child(1) {
  padding-right: 47px; }
.content-3columns-section .col:nth-child(2) {
  padding: 0 47px; }
.content-3columns-section .col:nth-child(3) {
  padding-left: 47px; }
.content-3columns-section .col:nth-child(2) img {
  margin-top: -15px; }

.social-footer-section {
  background: #fafafa;
  height: 110px;
  border-top: 2px solid #e1e1e1;
  display: flex;
  justify-content: center; }
  .social-footer-section .logo {
    height: 32px;
    width: 97px;
    position: relative;
    top: -15px; }
    .social-footer-section .logo > * {
      position: absolute; }
      .social-footer-section .logo > *.logo-shadow {
        left: -2px;
        top: -2px; }
  .social-footer-section .social-list-item {
    display: inline-block;
    width: 22px;
    height: 22px;
    background: red; }
    .social-footer-section .social-list-item a {
      display: block;
      background: red; }
