/*
Theme Name: Xello Theme
Theme URI: 
Author: Fabricio Biron
Author URI: https://wordpress.org/
Description: 
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/
.jumbotron {
  background: none;
  margin-bottom: 0px;
  padding: 0px; }

a {
  color: none; }

@media only screen and (min-width: 1200px) {
  .img-fluid {
    max-width: none;
    height: none; } }
h2 a:hover {
  text-decoration: none; }

.container, .row, .container-fluid {
  padding: 0px;
  margin: 0px; }

.hat {
  text-transform: uppercase;
  font-size: 0.9em; }

.title {
  font-size: 2.7em; }

a {
  color: #027baf !important; }

.btn {
  border-radius: 25px;
  background: #73AD21;
  padding: 0 45px;
  height: 45px; }

.btn-primary {
  background: #027baf; }

h1, h2, h3, h4, h5, h6, p, cite {
  color: #484848;
  font-weight: 400; }

.navbar-toggler {
  background: #027baf; }

.site-container {
  width: 1368px !important;
  background: #fff; }

.site {
  display: flex;
  justify-content: center; }

body {
  background: #fafafa; }

@media only screen and (min-width: 1200px) {
  .wrapper {
    margin-left: 130px;
    margin-right: 130px; } }
@media only screen and (min-width: 577px) and (max-width: 1199px) {
  .wrapper {
    margin-top: 65px;
    margin-bottom: 65px;
    margin-left: 65px;
    margin-right: 65px; }

  .box {
    margin-bottom: 13px; } }
@media only screen and (max-width: 576px) {
  .wrapper {
    padding-top: 50px;
    margin-bottom: 50px;
    margin-left: 5px;
    margin-right: 5px; } }
.navigation-section {
  background: #000; }
  @media only screen and (min-width: 1200px) {
    .navigation-section {
      height: 61px; }
      .navigation-section > * {
        color: white; }
      .navigation-section .navbar-nav {
        width: 100%;
        display: flex;
        justify-content: center; }
      .navigation-section a {
        color: white !important; } }
  @media only screen and (min-width: 1200px) and (min-width: 1200px) {
    .navigation-section .navbar {
      margin: 0 20px; } }

.jumbotron-section {
  background: #027baf; }
  .jumbotron-section .lettering > * {
    color: #fff; }
  .jumbotron-section .title {
    font-weight: 600; }
  @media only screen and (min-width: 1200px) {
    .jumbotron-section {
      height: 482px; }
      .jumbotron-section .lettering {
        padding-top: 174px;
        padding-left: 20px; }
      .jumbotron-section .featured-image {
        margin-top: 56px;
        margin-left: 20px; }
      .jumbotron-section .title {
        font-size: 3.5em; } }
  @media only screen and (min-width: 577px) and (max-width: 1199px) {
    .jumbotron-section .featured-image-box {
      padding-top: 32.5px;
      text-align: center; }
    .jumbotron-section .lettering {
      text-align: center;
      padding: 32.5px; }
    .jumbotron-section .title {
      font-size: 2.5em; } }
  @media only screen and (max-width: 576px) {
    .jumbotron-section .lettering {
      text-align: center;
      padding: 2.5px; }
    .jumbotron-section .row {
      padding: 25px; } }

.content-section-1 {
  background: #fafafa;
  border: 1px solid #e1e1e1; }
  @media only screen and (min-width: 1200px) {
    .content-section-1 .wrapper {
      padding-top: 100px;
      padding-bottom: 80px; }
    .content-section-1 .form {
      padding-left: 120px; } }

.content-section-2 {
  background: #fff; }
  @media only screen and (min-width: 1200px) {
    .content-section-2 .wrapper {
      padding-top: 80px; }
    .content-section-2 .lettering {
      padding-top: 46px;
      padding-left: 91px; } }
  @media only screen and (min-width: 577px) and (max-width: 1199px) {
    .content-section-2 .wrapper {
      padding: 5px; }
    .content-section-2 .wrapper > div:nth-child(1) {
      text-align: center; }
    .content-section-2 .featured-image-box {
      text-align: center; } }
  @media only screen and (max-width: 576px) {
    .content-section-2 .featured-image-box {
      text-align: center; } }

.content-section-3 {
  background: #fff; }
  @media only screen and (min-width: 1200px) {
    .content-section-3 .wrapper {
      padding-top: 110px;
      padding-bottom: 80px; }
    .content-section-3 .featured-image-box {
      text-align: right; }
    .content-section-3 .featured-image {
      width: 450px;
      height: auto; } }
  @media only screen and (max-width: 576px) {
    .content-section-3 .wrapper {
      padding: 5px; } }

.highlighted-quote-section {
  background: #fff; }
  .highlighted-quote-section .logo {
    display: flex;
    justify-content: center; }
  .highlighted-quote-section cite {
    font-size: 40px;
    font-style: normal;
    line-height: 115%; }
  .highlighted-quote-section .wrapper {
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1; }
  @media only screen and (min-width: 1200px) {
    .highlighted-quote-section .wrapper {
      padding-top: 80px;
      padding-bottom: 100px; }
    .highlighted-quote-section .logo {
      padding-bottom: 30px; }
    .highlighted-quote-section cite {
      font-size: 40px;
      font-style: normal; } }
  @media only screen and (min-width: 577px) and (max-width: 1199px) {
    .highlighted-quote-section .wrapper {
      padding: 65px 0; }
    .highlighted-quote-section cite {
      font-size: 40px;
      font-style: normal; } }
  @media only screen and (max-width: 576px) {
    .highlighted-quote-section .wrapper {
      padding: 25px 0px; } }

.content-3columns-section {
  background: #fff; }
  .content-3columns-section .col img {
    margin-bottom: 12px; }
  .content-3columns-section .featured-image-box {
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .content-3columns-section p, .content-3columns-section h3 {
    text-align: center; }
  @media only screen and (min-width: 1200px) {
    .content-3columns-section .wrapper {
      padding-top: 80px;
      padding-bottom: 100px; }
    .content-3columns-section .col:nth-child(1) {
      padding-right: 47px; }
    .content-3columns-section .col:nth-child(2) {
      padding: 0 47px; }
    .content-3columns-section .col:nth-child(3) {
      padding-left: 47px; }
    .content-3columns-section .col:nth-child(2) img {
      margin-top: -15px; } }
  @media only screen and (min-width: 577px) and (max-width: 1199px) {
    .content-3columns-section h3, .content-3columns-section p {
      text-align: center; }
    .content-3columns-section .image-1 {
      margin-left: -11px !important; }
    .content-3columns-section .image-3 {
      margin-left: 3px !important; } }
  @media only screen and (max-width: 576px) {
    .content-3columns-section h3, .content-3columns-section p {
      text-align: center; } }

.social-footer-section {
  background: #fafafa;
  height: 110px;
  border-top: 2px solid #e1e1e1;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .social-footer-section .logo {
    height: 32px;
    width: 97px;
    position: relative;
    top: -19px; }
    .social-footer-section .logo > * {
      position: absolute; }
      .social-footer-section .logo > *.logo-shadow {
        left: -2px;
        top: -2px; }
  .social-footer-section .social-list {
    margin-top: 20px; }
  .social-footer-section .social-list-item {
    display: inline-block;
    width: 38px;
    height: 38px;
    margin-left: 3px;
    margin-right: 3px; }
    .social-footer-section .social-list-item a {
      display: block; }

@media only screen and (min-width: 1200px) {
  .page-section {
    padding-top: 130px;
    padding-bottom: 130px; } }
@media only screen and (max-width: 576px) {
  .page-section {
    padding: 5px; }
    .page-section .entry-title {
      font-size: 2.5em; } }

.nav-link {
  transition: color 1s ease; }

.nav-link:hover {
  color: #027baf !important;
  transition: color 1s ease; }

.wrapper a:hover {
  color: #484848 !important;
  transition: color 1s ease; }

.jumbotron .featured-image {
  transition: transform 1s ease; }

.jumbotron .featured-image:hover {
  transform: scale(1.01);
  transition: transform 1s ease; }

.navbar-brand img:hover {
  transform: scale(1.1);
  transition: transform 1s ease; }

.navbar-brand img {
  transition: transform 1s ease; }

.social-list-item:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease-in; }

.social-list-item {
  transition: transform 0.5s ease-out; }
