
.jumbotron{background: none;margin-bottom:0px;padding:0px;}

a{color: none;}

@include respond-to(ws){
    .img-fluid{
        max-width: none;
        height: none;
    }
}

h2 a:hover{
    text-decoration:none; 
} 

.container,.row,.container-fluid{
    padding:0px;
    margin:0px ;
}
