.hat{text-transform: uppercase;font-size: 0.9em;}
.title{font-size: 2.7em;}

a{color: $xello-blue !important;}

.btn{
    border-radius: 25px;
    background: #73AD21;
    padding: 0 45px;
    height: 45px; 
}

.btn-primary{
    background: $xello-blue;

}

h1,h2,h3,h4,h5,h6,p,cite{
    color: $text-color;
    font-weight: 400;
}

.navbar-toggler{
    background: $xello-blue;
}


.site-container{ 
    width: 1368px !important;
    background: #fff;
    // margin:50%;
}

.site{
    display: flex;
    justify-content: center;
    
}

body{
    background: $gray-color;
}


@include respond-to(ws){
    .wrapper{
        margin-left: $default-margin; 
        margin-right: $default-margin; 
    }
}

@include respond-to(ms){
    .wrapper 
    {
        margin-top: $default-medium-margin; 
        margin-bottom: $default-medium-margin; 
        margin-left: $default-medium-margin; 
        margin-right: $default-medium-margin;
    }
    
    .box{
        margin-bottom: $default-medium-margin / 5;
    }

}

@include respond-to(hh){
    .wrapper {
        padding-top: $default-mobile-margin * 10; 
        margin-bottom: $default-mobile-margin * 10; 
        margin-left: $default-mobile-margin; 
        margin-right: $default-mobile-margin;
    }


}