.content-3columns-section{

    background: #fff;
    $padding-gap: 47px;

    .col img{
        margin-bottom:12px;
    }

    .featured-image-box{
        height: 180px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    p,h3{
        text-align: center;
    }

    @include respond-to(ws){
        
        .wrapper{
            padding-top:80px;
            padding-bottom: 100px;
        }

        .col:nth-child(1){
            padding-right: $padding-gap;
        }

        .col:nth-child(2){
            padding:0 $padding-gap;
        }

        .col:nth-child(3){
            padding-left:$padding-gap;
        }
            //fixing rocket icon
        .col:nth-child(2) img{
            margin-top: -15px;
        }
    }

    @include respond-to(ms){

        h3,p{
            text-align: center;
        }
        .image-1{
            margin-left:-11px !important;
        }
        .image-3{
            margin-left: 3px !important;
        }
        
    }

    @include respond-to(hh){

        h3,p{
            text-align: center;
        }
        .box{
            // width: 100%;
            // padding: $default-mobile-margin;
        }

    }

}