.content-section-1{

    background: $gray-color;
    border: 1px solid $border-color;


    @include respond-to(ws){
        .wrapper{
            padding-top: 100px;
            padding-bottom: 80px;
        }

        .form{
            padding-left: 120px
        }
    }




} // end of content-section-1