.content-section-2{

    background: #fff;

    @include respond-to(ws){
        .wrapper{
            padding-top:80px;

        }
        
        .lettering{
            padding-top: 46px;
            padding-left: 91px;
        }

    }

    @include respond-to(ms){

        .wrapper{
            padding: $default-mobile-margin;
        }
        
        .wrapper > div:nth-child(1){
            text-align: center;
        }

        .featured-image-box{
            text-align: center;
        }

  
    }

    @include respond-to(hh){

        .featured-image-box{
            text-align: center;
        }

    }

} // end of content-section-2