.content-section-3{

    background: #fff;



    @include respond-to(ws){

        .wrapper{
            padding-top: 110px;
            padding-bottom: 80px;
        }

        .featured-image-box{
            text-align: right;
        }

        .featured-image{
            width: 450px;
            height: auto;
        }
    
    }



    @include respond-to(hh){

        .wrapper{
            padding: $default-mobile-margin;
        }

    }

} // end of content-section-3