.highlighted-quote-section{

    background: #fff;

    .logo{
        display: flex;
        justify-content: center;

    }

    cite{
        font-size: 40px;
        font-style: normal;
        line-height: 115%;
    }


    .wrapper{
        border-top: 1px solid $border-color;
        border-bottom: 1px solid $border-color;
    }

    @include respond-to(ws){
        .wrapper{
            // padding: $default-margin 0;
            padding-top: 80px;
            padding-bottom: 100px;
        }

        .logo{
            padding-bottom: 30px;
        }

        cite{
            font-size: 40px;
            font-style: normal;
        }

    }

    @include respond-to(ms){

        .wrapper{
            padding: $default-medium-margin 0;
        }

        cite{
            font-size: 40px;
            font-style: normal;
        }

    }

    @include respond-to(hh){

        .wrapper{
            padding: ($default-mobile-margin * 5) 0px;
        }
    }
    
}