
.nav-link{
    transition: color 1s ease;  
}

.nav-link:hover{
    color: $xello-blue !important;
    transition: color 1s ease;  
}

.wrapper a:hover{
    color: $text-color !important;
    transition: color 1s ease;  
}

.jumbotron .featured-image{
    transition: transform 1s ease;  
}
.jumbotron .featured-image:hover{
    transform: scale(1.01);
    transition: transform 1s ease;  
}

.navbar-brand img:hover{
    transform: scale(1.1);
    transition: transform 1s ease;  
}

.navbar-brand img{
    transition: transform 1s ease;      
}

.social-list-item:hover{
    transform: scale(1.1);
    transition: transform 0.5s ease-in;  
}

.social-list-item{
    transition: transform 0.5s ease-out;  
}