.jumbotron-section{

    background: $jumbotron-section-background;

    .lettering{
        & > *{
            color: #fff;
        } 
    }

    .title{
        font-weight: 600;
    }

    @include respond-to(ws){

        height: $jumbotron-section-height;
        
        .lettering{

            padding-top: 174px;
            padding-left: 20px;
        }

        .featured-image{
            margin-top:56px;
            margin-left: 20px;
        }

        .title{
            
            font-size: 3.5em;
        }
    
    }

    @include respond-to(ms){

        .featured-image-box{
            padding-top: $default-medium-margin /2;
            text-align: center;
        }
        .wrapper{
            // padding-top:$default-margin;
            // padding-bottom:$default-margin;
            // padding-left: ($default-margin + 47px)  !important;
            // padding-right: ($default-margin + 47px)    !important;
        }

        .lettering{
            text-align: center;
            padding: $default-medium-margin /2;
        }

        .title{
            font-size: 2.5em;
        }

    }
    

    @include respond-to(hh){
        .lettering{
            text-align: center;
            padding: $default-mobile-margin /2;
        }

        .row{
            padding: $default-mobile-margin * 5;
        }
    }

} // end of .jumbotron-section