
.navigation-section{

    background: $navigation-section-background;
    
    @include respond-to(ws){

        & > * {
            color: white;
        }

        .navbar-nav{
            width: 100%;
            display: flex;
            justify-content: center;
        }
        
        height: 61px;
        
        a{
            color: white !important;
        }

        @include respond-to(ws){
            .navbar{
                margin: 0 20px;
            }
        }

    }

} // end of navigation-section