.page-section{


    @include respond-to(ws){
        padding-top: $default-margin;
        padding-bottom: $default-margin;
    }

    @include respond-to(ms){
    }
    
    @include respond-to(hh){
        padding: $default-mobile-margin;
        .entry-title{
            font-size: 2.5em;
        }
    }

}