
//Xello
$xello-blue: #027baf;

//common
$text-color: #484848;
$border-color: #e1e1e1;
$default-margin: 130px;
$default-medium-margin: $default-margin/2;
$default-mobile-margin: 5px;
$gray-color: #fafafa;

// Menu
$navigation-section-background: #000;
$navigation-section-height: 47px;

// Jumbotron section
$jumbotron-section-background: $xello-blue;
$jumbotron-section-height: 482px;