.social-footer-section{

    background: $gray-color;
    height: 110px;
    border-top: 2px solid $border-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    // position: relative;


    .logo{
        & > *{
            position: absolute;
            &.logo-shadow{
                left:-2px;
                top: -2px;
            }
        }
        height:32px;
        width: 97px;
        position: relative;
        top:-19px;
    }

    .social-list{
        margin-top: 20px;
    }

    .social-list-item{
        display: inline-block;
        // border-radius: 50%;
        // border: 1px solid $border-color;
        width: 38px;
        height: 38px;
        margin-left: 3px;
        margin-right: 3px;

        a{
            display: block;
        }
    }

    
}